<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ .Title }}</title>

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />

        <style type="text/css">
            .title {
                text-align: center;
                margin-top: 0.5em;
            }

            .story {
                margin: 1.5em 0 1.5em 0;
            }

            .options {
                display: flex;
                justify-content: space-around;
            }

            .options__arc {
                text-align: center;
            }

            .options__button {
                margin-top: 1.5em;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="title">{{ .Title }}</h1>

            <div class="card story">
                <div class="card-body">
                    {{ range $id, $line := .Story }} {{ $line }} {{ end }}
                </div>
            </div>

            <form method="POST">
                <div class="options">
                    {{ range $id, $option := .Options }}
                    <div class="options__elem">
                        <div>{{ $option.Text }}</div>
                        <div class="options__arc">
                            <button
                                type="submit"
                                name="place"
                                class="btn btn-primary options__button"
                                value="{{ $option.Arc }}"
                            >
                                {{ $option.Arc }}
                            </button>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </form>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
