<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
    <h1>{{.Title}}</h1>
    <div class="story-content">
        {{range .Story}}
            <p>{{.}}</p>
        {{end}}
    </div>
    <div class="variations-links">
        {{if .Options }}
            <ul>
                {{range .Options}}
                    <li class="link-container">
                        <a href="{{.Arc}}">{{.Text}}</a>
                    </li>
                {{end}}
            </ul>
        {{else}}
            <p ><b>The End !</b></p>
        {{end}}
    </div>
</body>
</html>