<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create Your Own Adventure - {{ .Title }}</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>CYOA</h1>
    {{template "storyArc" .}}
  </div>
</body>
<style>
  a {
    display: block;
    padding: 0.25em;
    margin: 1em;
  }
</style>
<!-- jquery & Bootstrap JS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>
</html>

{{define "storyArc"}}
  <h2>{{.Title}}</h2>
  {{range .Story}}
    <p>{{.}}</p>
  {{end}}
  {{if .Options}}
    {{range .Options}}
      <a href="{{.Arc}}">{{.Text}}</a>
    {{end}}
  {{else}}
    <p>The end</p>
  {{end}}
{{end}}