{{/*{{ define "story" }}*/}}
{{/*{{$key := .Key}}*/}}
{{/*{{$chap := .Chapters.$key}}*/}}

{{/*{{range $line := $chap.Story}}*/}}
{{/*<p>{{$line}}</p>*/}}
{{/*{{end}}*/}}

{{/*{{range $opt := $chap.Options}}*/}}
{{/*<p>{{$opt.Text}}</p>*/}}
{{/*<a href="story?key={{$opt.Arc}}">{{$opt.Text}}</a><br>*/}}
{{/*{{end}}*/}}



{{/*{{end}}*/}}