<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CYOA - {{ .Title }}}</title>
  <style>
   body {
       background-color: #bfbfbf;
   }

   #mid {
       max-width: 600px;
       margin: auto;
       padding: 10px;
       border: 20px solid black;
       background-color: #66ccff;
   }

   h1 {
       text-align: center;
   }

   a {
       padding: 10px;
       text-decoration: none;
   }

   #choice {
       font-size: 48px;
   }
  </style>
</head>

<body>
  <div id="mid">
  <h1>{{ .Title }}</h1>
  {{ range $s := .Story }}
  <p>{{ $s }}</p>
  {{ end }}

  {{ range $o := .Options }}
  <span id="choice">&#x261e;</span><a href="{{ $o.Arc }}.html">{{ $o.Text }}</a><br><br>
  {{ end }}
  </div>
</body>
</html>
